/* Font family */
$font-family-worksans: WorkSans-Regular, sans-serif;
/* https://css-tricks.com/snippets/css/system-font-stack */
$system-font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';
/* Font filenames (excluding file extension), for use in @font-face src */
$font-name-regular: 'WorkSans-Regular';
$font-name-semibold: 'WorkSans-SemiBold';
$font-name-bold: 'WorkSans-Bold';
$font-name-medium: 'WorkSans-Medium';

/* Font weights */
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;